.lhs-communitybg {
    background-image: url(../images/admission/img1.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 663px;
    position: relative;
    color: #ffffff;
}

.lhs-communitynoverlay {
    background-color: #273656;
    opacity: .5;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.lhs-communitynoverlay_bottom {
    width: 100%;
}
.lhs-communitynoverlay_title_wrap {
    position: absolute;
    padding-bottom: 87px;
    left: 0;
    width: 100%;
    bottom: 66px;
    color: #fff;
}

.lhs-communitynoverlay_title {
    font-family: "Platypi", serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 74px;
}
.lhs-communitynoverlay_banner {
    display: inline-table;
    padding: 20px;
    position: relative;
    width: 100%;
    color: #fff;
    letter-spacing: .05em;
    height: 66px;
    background-color: rgb(39 54 86 / 40%);
}
.lhs-communitynoverlay_bottomText {
    font-weight: 600;
    color: #fff !important;
    text-transform: capitalize !important;
    font-size: 17px;
    margin-right: 8px;
}

.lhs-contactusbg{
    padding: 6% 6% 6% 6%;
    border-radius: 40px 40px 40px 40px;
    background-color: #ffc425;
}






/* form starting stylings ------------------------------- */
.lhs-inputparent 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.lhs-inputparent input , .lhs-inputparent textarea 					{
  font-size:18px;
  padding:10px 0px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:2px solid #000;
  background-color: #ffc425 !important;
}
.lhs-inputparent input:focus 	{
    outline:none; 
}

/* LABEL ======================================= */
.lhs-inputparent label 				 {
  color:#000; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.lhs-inputparent input:focus ~ label, .lhs-inputparent input:valid ~ label , .lhs-inputparent textarea:focus ~ label, .lhs-inputparent textarea:valid ~ label		{
  top:-20px;
  font-size:14px;
  color:#000000;
}

/* BOTTOM BARS ================================= */
.lhs-inputparent .bar 	{ position:relative; display:block; width:100%; }
.lhs-inputparent .bar:before, .lhs-inputparent .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#000; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.lhs-inputparent .bar:before {
  left:50%;
}
.lhs-inputparent .bar:after {
  right:50%; 
}

/* active state */
.lhs-inputparent input:focus ~ .bar:before, .lhs-inputparent input:focus ~ .bar:after, .lhs-inputparent textarea:focus ~ .bar:before, .lhs-inputparent textarea:focus ~ .bar:after{
  width:50%;
}



/* active state */
.lhs-inputparent input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#000000; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#000000; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#000000; }
  to 	{ width:0; background:transparent; }
}


.lhs-submit{
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.lhs-submit:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.lhs-submit:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #770115;
    border-radius: 10rem;
    z-index: -2;
    color: #ffffff;
}
.lhs-submit:hover {
    color: #770115 !important;
    text-decoration: none !important;
}
.lhs-submit:hover:before {
    width: 100%;
}

.lhs-contactTitle{
  font-size: 42px;
  font-family: "Platypi", serif;
  line-height: normal;
}
.lhs-contactnumTitle{
  font-size: 28px;
  font-family: "Platypi", serif;
  line-height: normal;
  font-weight: 800;
}
.lhs-contactsubTitle{
  font-size: 22px;
  font-family: "Platypi", serif;
  line-height: normal;
  font-weight: 200;
}
.lhs-contactflex{
  flex-flow: column;
  justify-content: space-between;
  padding: 10px 33px 90px 0px;
}

.lhsMargin{
    margin-bottom: 45px;
}
.lhs-contactBg{
  padding: 24px;
  background-color: #ffc425;
  border-radius: 20px;
}


@media (max-width: 1200px) {
  .lhs-communitynoverlay_title {
      font-size: 50px;
  }
  .lhs-contactTitle{
    font-size: 36px;
  }
  .lhs-contactnumTitle{
    font-size: 26px;
  }
}

@media (max-width: 960px) {
  .lhs-communitynoverlay_title {
    font-size: 40px;
    line-height: 50px;
  }
  .lhs-contactflex{
    padding: 10px 33px 10px 0px;
  }
  .lhs-contactflex {
    padding: 0px 0px 16px 0px;
  }
  .lhs-contactTitle {
    font-size: 30px;
  }
  .lhs-contactsubTitle {
    font-size: 20px;
    margin: 10px 0px;
  }
  .lhs-contactnumTitle {
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  .lhs-communitynoverlay_title_wrap {
      padding-bottom: 60px;
  }
  .lhs-contactmargin45{
    margin-bottom: 45px;
  }
  .lhs-contactTitle {
    font-size: 26px;
  }
  .lhs-contactsubTitle {
    font-size: 18px;
    margin: 8px 0px;
  }
  .lhs-contactnumTitle {
    font-size: 22px;
  }
  .lhs-contactflex {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 480px) {
  .lhs-contactTitle {
    font-size: 22px;
  }
  .lhs-contactnumTitle {
    font-size: 20px;
  }
}